$green: #6aaa64;
$yellow: #c9b458;
$grey: #787c7e;

$hc-green: #85c0f9;
$hc-yellow: #f5793a;

$green-dark: #538d4e;
$yellow-dark: #b59f3b;
$grey-dark: #3a3a3c;

$border-light: #d3d6da;
$border-dark: rgb(132, 132, 132);
$border-word-dark: rgb(94, 94, 94);
$border-dark2: rgb(65, 65, 65);

$keys: #d3d6da;
$keys-dark: #818384;

$modal-bg-dark: #121213;
$bg-dark: #121213;
