@import "breakpoints";

* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  //border: solid red;
  height: 100vh;
  width: 100vw;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .game-row {
      display: flex;
      gap: 5px;
      .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        text-transform: uppercase;
        border: solid 2px #d3d6da;
        color: white;

        @include xs {
          height: 2.8rem;
          width: 2.8rem;
          font-size: 1.6rem;
        }
        @include sm {
          height: 3.2rem;
          width: 3.2rem;
          font-size: 2rem;
        }
      }
      .green {
        --background-color: #6aaa64;
        color: black; // animations will change this
        border: solid rgb(132, 132, 132);
        //border: none;
        animation: flip 0.5s ease forwards;
      }
      .yellow {
        --background-color: #c9b458;
        color: black; // animations will change this
        border: solid rgb(132, 132, 132);
        //border: none;
        animation: flip 0.5s ease forwards;
      }
      .grey {
        --background-color: #787c7e;
        color: black; // animations will change this
        border: solid rgb(132, 132, 132);
        //border: none;
        animation: flip 0.5s ease forwards;
      }

      .temp {
        color: black;
      }
    }
    .game-row > div:nth-child(2) {
      animation-delay: calc(0.5 * 0.7s);
    }
    .game-row > div:nth-child(3) {
      animation-delay: calc(0.5 * 1.5s);
    }
    .game-row > div:nth-child(4) {
      animation-delay: calc(0.5 * 2.5s);
    }
    .game-row > div:nth-child(5) {
      animation-delay: calc(0.5 * 3.5s);
    }
    .game-row > div:nth-child(6) {
      animation-delay: calc(0.5 * 4.5s);
    }
    .current-row > div.temp {
      animation: bounce 0.075s ease-in-out forwards;
    }
  }
  .keyboard {
    display: flex;
    flex-direction: column;
    //border: solid red;
    gap: 8px;
    text-transform: uppercase;
    font-weight: bold;
    .keys {
      display: flex;
      gap: 8px;
    }
    .util {
      @include xs {
        width: 3rem;
      }
      @include sm {
        width: 4rem;
      }
    }
  }

  .keys > div {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    background-color: #d3d6da;
    cursor: pointer;
    user-select: none;
    @include xs {
      width: 1.6rem;
      height: 2.5rem;
      font-size: 0.7rem;
    }
    @include sm {
      width: 2.5rem;
      height: 3.3rem;
      font-size: 0.8rem;
    }
  }
  .r1.keys {
    display: flex;
    justify-content: center;
  }
  .r2.keys {
    display: flex;
    justify-content: center;
  }
  .r3.keys {
    display: flex;
    justify-content: center;
    //border: solid red;
  }
}
.keys > div.green {
  background-color: #6aaa64;
  color: white;
  transition: all 0.3s ease-in;
}
.keys > div.yellow {
  background-color: #c9b458;
  color: white;
  transition: all 0.3s ease-in;
}
.keys > div.grey {
  background-color: #787c7e;
  color: white;
  transition: all 0.3s ease-in;
}

.modal {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.modal div {
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  margin: 10% auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  button {
    padding: 8px;
    border-radius: 6px;
    border: solid;
    //text-transform: uppercase;
    font-weight: bold;
    max-width: 30%;
  }
}
.modal .solution-word {
  color: #ff004c;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.backspace-icon {
  @include xs {
    height: 1.2rem;
    width: 1.2rem;
  }
  @include sm {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0);
    background-color: white;
    border: solid 1px rgb(132, 132, 132);
    color: black;
  }
  45% {
    transform: rotateX(90deg);
    background-color: white;
    border: solid 1px rgb(132, 132, 132);
    color: black;
  }
  55% {
    transform: rotateX(90deg);
    background-color: var(--background-color);
    border: none;
    color: white;
  }
  100% {
    transform: rotateX(0);
    background-color: var(--background-color);
    border: none;
    color: white;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #d3d6da;
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    border-color: rgb(132, 132, 132);
  }
}
