* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    gap: 5px;
    .game-row {
      display: flex;
      gap: 5px;
      .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 2rem;
        text-transform: uppercase;
        border: solid rgb(198, 198, 198);
        color: white;
        height: 5vw;
        width: 5vw;
      }
      .green {
        background-color: #6aaa64;
        border: none;
      }
      .yellow {
        background-color: #c9b458;
        border: none;
      }
      .grey {
        background-color: #787c7e;
        border: none;
      }
    }
  }
}
