@import "breakpoints";
@import "colors";

* {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#high {
  #light {
    .app {
      display: flex;
      flex-direction: column;
      align-items: center;
      //justify-content: center;
      //gap: 20px;
      //border: solid red;
      height: 100vh;
      width: 100vw;
      overflow: hidden;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //border: solid red;
        width: 100%;
        height: 100%;
        @include xs {
          gap: 30px;
        }
        @include sm {
          gap: 0px;
        }
        .keyboard {
          transform: scale(0.9);
        }
      }
      .grid {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        @include xs {
          gap: 3px;
        }
        @include sm {
          gap: 5px;
        }
        .game-row {
          display: flex;
          @include xs {
            gap: 3px;
          }
          @include sm {
            gap: 5px;
          }
          .cell {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;

            text-transform: uppercase;
            border: solid 2px $border-light;
            color: white;

            @include xs {
              height: 2.8rem;
              width: 2.8rem;
              font-size: 1.6rem;
            }
            @include sm {
              height: 8vh;
              max-height: 4rem;
              width: 8vh;
              max-width: 4rem;
              font-size: 2rem;
            }
          }
          .green {
            --background-color: #85c0f9;
            color: black; // animations will change this
            border: solid $border-dark;
            //border: none;
            animation: flip 0.5s ease forwards;
          }
          .yellow {
            --background-color: #f5793a;
            color: black; // animations will change this
            border: solid $border-dark;
            //border: none;
            animation: flip 0.5s ease forwards;
          }
          .grey {
            --background-color: #787c7e;
            color: black; // animations will change this
            border: solid $border-dark;
            //border: none;
            animation: flip 0.5s ease forwards;
          }

          .temp {
            color: black;
          }
        }
        .game-row > div:nth-child(2) {
          animation-delay: calc(0.5 * 0.7s);
        }
        .game-row > div:nth-child(3) {
          animation-delay: calc(0.5 * 1.5s);
        }
        .game-row > div:nth-child(4) {
          animation-delay: calc(0.5 * 2.5s);
        }
        .game-row > div:nth-child(5) {
          animation-delay: calc(0.5 * 3.5s);
        }
        .game-row > div:nth-child(6) {
          animation-delay: calc(0.5 * 4.5s);
        }
        .current-row > div.temp {
          animation: bounce 0.075s ease-in-out forwards;
        }
      }
      .keyboard {
        display: flex;
        flex-direction: column;
        @include xs {
          gap: 6px;
        }
        @include sm {
          gap: 8px;
        }
        text-transform: uppercase;
        font-weight: bold;
        .keys {
          display: flex;

          @include xs {
            gap: 6px;
          }
          @include sm {
            gap: 8px;
          }
        }
        .util {
          @include xs {
            width: 2.8rem;
          }
          @include xsm {
            width: 3rem;
          }
          @include sm {
            width: 4rem;
          }
        }
      }

      .keys > div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: $keys;
        cursor: pointer;
        user-select: none;
        @include xs {
          width: 1.6rem;
          height: 2.5rem;
          font-size: 0.6rem;
        }
        @include xsm {
          width: 1.9rem;
          height: 2.7rem;
          font-size: 0.7rem;
        }
        @include sm {
          width: 2.8rem;
          height: 3.6rem;
          font-size: 0.8rem;
        }
      }
      .r1.keys,
      .r2.keys,
      .r3.keys {
        display: flex;
        justify-content: center;
      }
    }
    .keys > div.green {
      background-color: $hc-green;
      color: white;
      transition: all 0.3s ease-in;
    }
    .keys > div.yellow {
      background-color: $hc-yellow;
      color: white;
      transition: all 0.3s ease-in;
    }
    .keys > div.grey {
      background-color: $grey;
      color: white;
      transition: all 0.3s ease-in;
    }

    .modal-end {
      background: rgba(255, 255, 255, 0.7);
      position: fixed;
      z-index: 100;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal-end div {
      position: relative;
      z-index: 100;
      width: 480px;
      height: 250px;
      background: #fff;
      padding: 40px;
      border-radius: 8px;
      margin: 10% auto;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      img {
        height: 20px;
        position: absolute;
        margin-right: 15px;
        margin-top: 15px;
        right: 0;
        top: 0;
        cursor: pointer;
      }
      button {
        padding: 8px;
        border-radius: 6px;
        border: solid;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .modal-end .solution-word {
      font-weight: bold;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .backspace-icon {
      @include xs {
        height: 1.2rem;
        width: 1.2rem;
      }
      @include sm {
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }

  @keyframes flip {
    0% {
      transform: rotateX(0);
      background-color: white;
      border: solid 1px $keys;
      color: black;
    }
    45% {
      transform: rotateX(90deg);
      background-color: white;
      border: solid 1px $keys;
      color: black;
    }
    55% {
      transform: rotateX(90deg);
      background-color: var(--background-color);
      border: none;
      color: white;
    }
    100% {
      transform: rotateX(0);
      background-color: var(--background-color);
      border: none;
      color: white;
    }
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
      border-color: $border-light;
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
      border-color: $border-dark;
    }
  }

  #dark {
    .app {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $bg-dark;
      height: 100vh;
      width: 100vw;
      overflow: hidden;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //border: solid red;
        width: 100%;
        height: 100%;
        @include xs {
          gap: 30px;
        }
        @include sm {
          gap: 0px;
        }
        .keyboard {
          transform: scale(0.9);
        }
      }
      .grid {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        @include xs {
          gap: 3px;
        }
        @include sm {
          gap: 5px;
        }
        .game-row {
          display: flex;
          @include xs {
            gap: 3px;
          }
          @include sm {
            gap: 5px;
          }
          .cell {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;

            text-transform: uppercase;
            border: solid 2px $border-dark2;
            color: white;

            @include xs {
              height: 2.8rem;
              width: 2.8rem;
              font-size: 1.6rem;
            }
            @include sm {
              height: 8vh;
              max-height: 4rem;
              width: 8vh;
              max-width: 4rem;
              font-size: 2rem;
            }
          }
          .green {
            --background-color: #85c0f9;
            color: white; // animations will change this
            border: solid $border-word-dark;
            //border: none;
            animation: flipDark 0.5s ease forwards;
          }
          .yellow {
            --background-color: #f5793a;
            color: white; // animations will change this
            border: solid $border-word-dark;
            //border: none;
            animation: flipDark 0.5s ease forwards;
          }
          .grey {
            --background-color: #3a3a3c;
            color: white; // animations will change this
            border: solid $border-word-dark;
            //border: none;
            animation: flipDark 0.5s ease forwards;
          }

          .temp {
            color: black;
          }
        }
        .game-row > div:nth-child(2) {
          animation-delay: calc(0.5 * 0.7s);
        }
        .game-row > div:nth-child(3) {
          animation-delay: calc(0.5 * 1.5s);
        }
        .game-row > div:nth-child(4) {
          animation-delay: calc(0.5 * 2.5s);
        }
        .game-row > div:nth-child(5) {
          animation-delay: calc(0.5 * 3.5s);
        }
        .game-row > div:nth-child(6) {
          animation-delay: calc(0.5 * 4.5s);
        }
        .current-row > div.temp {
          animation: bounceDark 0.075s ease-in-out forwards;
        }
      }
      .keyboard {
        display: flex;
        flex-direction: column;
        @include xs {
          gap: 6px;
        }
        @include sm {
          gap: 8px;
        }
        text-transform: uppercase;
        font-weight: bold;
        .keys {
          display: flex;

          @include xs {
            gap: 6px;
          }
          @include sm {
            gap: 8px;
          }
        }
        .util {
          @include xs {
            width: 2.8rem;
          }
          @include xsm {
            width: 3rem;
          }
          @include sm {
            width: 4rem;
          }
        }
      }

      .keys > div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        background-color: $keys-dark;
        color: white;
        cursor: pointer;
        user-select: none;
        @include xs {
          width: 1.6rem;
          height: 2.5rem;
          font-size: 0.6rem;
        }
        @include xsm {
          width: 1.9rem;
          height: 2.7rem;
          font-size: 0.7rem;
        }
        @include sm {
          width: 2.8rem;
          height: 3.6rem;
          font-size: 0.8rem;
        }
      }
      .r1.keys,
      .r2.keys,
      .r3.keys {
        display: flex;
        justify-content: center;
      }
    }
    .keys > div.green {
      background-color: $hc-green;
      color: white;
      transition: all 0.3s ease-in;
    }
    .keys > div.yellow {
      background-color: $hc-yellow;
      color: white;
      transition: all 0.3s ease-in;
    }
    .keys > div.grey {
      background-color: $grey-dark;
      color: white;
      transition: all 0.3s ease-in;
    }

    .modal-end {
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      z-index: 100;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal-end div {
      position: relative;
      z-index: 100;
      width: 480px;
      height: 250px;
      background: $modal-bg-dark;
      color: white;
      padding: 40px;
      border-radius: 8px;
      margin: 10% auto;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      img {
        height: 20px;
        position: absolute;
        margin-right: 15px;
        margin-top: 15px;
        right: 0;
        top: 0;
        cursor: pointer;
      }
      button {
        padding: 8px;
        border-radius: 6px;
        border: solid;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .modal-end .solution-word {
      font-weight: bold;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .backspace-icon {
      @include xs {
        height: 1.2rem;
        width: 1.2rem;
      }
      @include sm {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    @keyframes flipDark {
      0% {
        transform: rotateX(0);
        background-color: $bg-dark;
        border: solid 2px $border-word-dark;
        color: white;
      }
      45% {
        transform: rotateX(90deg);
        background-color: $bg-dark;
        border: solid 2px $border-word-dark;
        color: white;
      }
      55% {
        transform: rotateX(90deg);
        background-color: var(--background-color);
        border: none;
        color: white;
      }
      100% {
        transform: rotateX(0);
        background-color: var(--background-color);
        border: none;
        color: white;
      }
    }

    @keyframes bounceDark {
      0% {
        transform: scale(1);
        color: white;
        border-color: $border-word-dark;
      }
      50% {
        color: white;
        transform: scale(1.1);
      }
      100% {
        color: white;
        transform: scale(1);
        border-color: $border-word-dark;
      }
    }
  }
}
