@import "breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@900&display=swap");

.nav {
  width: 100vw;
  display: flex;

  align-items: center;
  border-bottom: solid 1px #d3d6da;
  padding: 16px;
  @include xs {
    justify-content: flex-start;
  }
  @include sm {
    justify-content: center;
  }
  h1 {
    font-size: 2rem;
    font-family: "Bitter", serif;
  }
  .menu {
    position: absolute;
    right: 0;
    //border: solid red;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: black;
  }

  .icon {
    height: 1.9rem;
    cursor: pointer;
  }
  .chart {
    height: 1.8rem;
  }
  .settings {
    height: 2.2rem;
    margin-left: -3px;
  }
}
